<template name="advancedSearch">
	<div class="clear twenty"></div>
	<div class="col-xs-12">
		<h4>Advanced Search</h4>
	</div>
	<div class="clear twenty"></div>
	<div class="col-xs-6 col-sm-3 col-md-3">
		<select>
			<option>From Year*</option>
			{{#each years}}
			<option>From {{.}}</option>
			{{/each}}
		</select>
	</div>
	<div class="col-xs-6 col-sm-3 col-md-3">
		<select>
			<option>From Issue*</option>
			{{#each issues}}
			<option>Issue {{.}}</option>
			{{/each}}
		</select>
	</div>
	<div class="col-xs-6 col-sm-3">
		<select>
			<option>To Year*</option>
			{{#each years}}
			<option>To {{.}}</option>
			{{/each}}
		</select>
	</div>
	<div class="col-xs-6 col-sm-3">
		<select>
			<option>To Issue*</option>
			{{#each issues}}
			<option>Issue {{.}}</option>
			{{/each}}
		</select>
	</div>

	<div class="col-xs-6 col-sm-6 col-md-4">
		<input type="text" name="title" placeholder="Title">
		{{> radioOptions}}			
	</div>
	<div class="col-xs-6 col-sm-6 col-md-4">
		<input type="text" name="author" placeholder="Author">	
		{{> radioOptions}}				
	</div>
	<div class="col-xs-6 col-sm-6 col-md-4">
		<input type="text" name="abstract" placeholder="Abstract">
		{{> radioOptions}}					
	</div>
	<div class="col-xs-6 col-sm-6 col-md-4">
		<input type="text" name="section" placeholder="Section">
		{{> radioOptions}}				
	</div>
	<div class="col-xs-6 col-sm-6 col-md-4">
		<input type="text" name="companyName" placeholder="Company Name">
		{{> radioOptions}}			
	</div>
	<div class="col-xs-6 col-sm-6 col-md-4">
		<input type="text" name="productName" placeholder="Product Name">	
		{{> radioOptions}}				
	</div>
	<div class="col-xs-6 col-sm-6 col-md-4">
		<input type="text" name="genericName" placeholder="Generic Name">
		{{> radioOptions}}					
	</div>
	<div class="col-xs-6 col-sm-6 col-md-4">
		<input type="text" name="condition" placeholder="Condition">
		{{> radioOptions}}				
	</div>
	<div class="col-xs-6 col-sm-6 col-md-4">
		<input type="text" name="internationalInterest" placeholder="International Interest">
		{{> radioOptions}}			
	</div>
	<div class="col-xs-12 col-sm-9">	
		<p><i>Articles are encrypted; any PDFs printed from this website will include a JDD copyright protection watermark.</i></p>
	</div>
	<div class="col-xs-12 col-sm-3">
		<a href="/search/test" class="searchBtn btn btn-primary" style="float: right;">SEARCH</a>
	</div>
		<div class="clear hundred"></div>
</template>