<body>
	{{> header}}
	<div id="articlesList" class="col-sm-2">
		{{> articlesList}}
	</div>

	<div id="main" class="col-sm-10" style="">
		<section id="slider" class="col-sm-12">
			{{> slider}}
		</section>

		<div class="container">
			<article id="featuredArticle" class="col-sm-8">
				{{> featuredArticle}}
				<img src="/images/bottom-ad.png" />
			</article>

			<aside id="sidebar" class="col-sm-4">
				{{> sidebar}}
			</aside>
		</div><!--container-->
	</div>

	<div class="clear"></div>
	<footer id="footer">
		{{> footer}}
	</footer>

	<script>
		


		
	</script>
</body>