<template name="breadcrumbs">
	<div id="breadcrumbsSection">
		<div class="container">
			<section id="breadcrumbsResizer" class="col-xs-12 col-sm-10">
				<span id="breadcrumbs">
					<a href="{{pathFor 'homePage'}}">Home</a>
					{{#each crumbs}}
						<a class="crumb" href="/{{.}}">{{.}}</a> >
					{{/each}}
					<span class="crumb">{{currentPage}}</span>
				</span> 

				{{#if topic}}
					<span id="topic">
						Topic > <a href="">{{topic}}</a>
					</span>
				{{/if}}
			</section>
		</div>
	</div>

	<script>
		$(".crumb").each(function() {
			$text = $(this).text();
			$text = $text.replace("-", " ");
			$(this).text($text);
			console.log($text);
		});
	</script>
</template>