<template name="header">
	<div class="topBanner">
		<div class="container">
			<div class="col-sm-7">
				<img src="/images/zyclara.jpg" />
			</div>
			<div class="col-sm-5">
				<a href="#" class="btn btn-primary">SUBSCRIBE TO JDD NOW</a>
			</div>
		</div>
	</div>
	<div class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#"><img alt="JDD Logo" src="/images/jdd-logo.png" /></a>
		</div>
		<div id="primaryNav" class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="../navbar/">Journal</a></li>
				<li><a href="../navbar/">Topics</a></li>
				<li><a href="../navbar/">Articles</a></li>
				<li><a href="../navbar/">CME</a></li>
				<li><a href="../navbar/">Multimedia</a></li>
				<li><a href="../navbar/">Resources</a></li>
				<li><a href="../navbar-static-top/">Advertising</a></li>
				<li><a href="./">Subscribe</a></li>
				<li class="navImg"><a href="http://twitter.com" target="_blank" rel="nofollow"><img alt="twitter" src="../images/twitter.png" /></a></li>
				<li class="navImg"><a href="http://facebook.com" target="_blank" rel="nofollow"><img alt="facebook" src="../images/facebook.png" /></a></li>
				<li class="navImg"><a><img src="../images/search.png" /></a></li>
			</ul>
		</div><!--/.nav-collapse -->
		<div  id="secondaryNav">
			<a id="displayArticles">Articles in Current Issue <span>-</span></a>
			<a id="login">Login</a>
		</div>
	</div>
</template>