<template name="sidebar">
	<article>
		<div class="clear twenty"></div>
		<header style="display: none;">
			<h3><span>Subscribe</span> to</h3>
		</header>
		<a href="#" id="subscribeBtn" class="btn btn-primary">SUBSCRIBE TO JDD NOW</a>
	</article>
	<article>
		<a href="#"><img alt="" src="http://devjb1.sanovaworks.com/JDD/site/images/luzu.jpg" /></a>
	</article>
	<div class="clear forty"></div>
	<article class="mostReadCited">
		<h3 class="activeTab"><span>Most</span> Read</h3>
		<h3 class="inactiveTab">Most Cited</h3>
		<ul class="most">
	    	{{#each mostRead}}
	      		<li class="mostRead">{{title}} <a href="{{pathFor 'article'}}">read</a></li>
	    	{{/each}}
	    	{{#each mostCited}}
	      		<li class="mostCited">{{title}} <a href="{{pathFor 'article'}}">read</a></li>
	    	{{/each}}
		</ul>
	</article>
	<div class="clear forty"></div>
	<article>
		<h3><span>Derm</span> Pearls</h3>
		<a href="#"><img alt="" src="/images/dearmpearl.jpg" /></a>
	</article>
	<div class="clear forty"></div>
	<article>
		<div class="col-xs-12 centered">
			<a href="#"><img alt="" src="/images/carac.jpg" /></a>
		</div>
		<div class="clear"></div>
	</article>
	<div class="clear forty"></div>
	<article>
		<a href="#"><img alt="" src="/images/luzu.jpg" /></a>
	</article>
</template>