<template name="homePage">
	<section id="slider" class="col-sm-12">
		{{> slider}}
	</section>
	<div id="showHideContainer" class="">
		<article id="featuredArticle" class="col-sm-8">
			{{> featuredArticle}}
			<ul id="pagination">
				<li><a class="activePage" href="#">1</a></li>
				<li><a href="{{pathFor 'article'}}">2</a></li>
				<li><a href="{{pathFor 'article'}}">3</a></li>
				<li><a href="{{pathFor 'article'}}">4</a></li>
				<li><a href="{{pathFor 'article'}}">5</a></li>
			</ul>
			<img class="featuredBottomAd" src="/images/bottom-ad.png" />
		</article>

		<aside id="sidebar" class="col-xs-12 col-sm-4">
			{{> sidebar}}
		</aside>
	</div>
</template>