<template name="ejddArticle">
	{{> breadcrumbs}}
	<section class="leftPage col-xs-6">
		<div class="page active" data-page-num="0">
			<div class="col-xs-12 col-sm-6">
				<h1>Page 0a</h1>
			</div>
			<div class="col-xs-12 col-sm-6">
				<h1>Page 0b</h1>
			</div>
		</div>
		<div class="page" data-page-num="2">
			<div class="col-xs-12">
				<h1>Page 2a</h1>
				<p>eu vix vivendum indoctum urbanitas</p>
				<p class="hidden-xs">Lorem ipsum dolor sit amet, ne usu volumus alienum quaerendum, quodsi alienum petentium ad has. Eam no munere legimus, vim ubique aliquando urbanitas ei, eu meis nulla dicam quo. No quo noluisse platonem interpretaris, commodo sadipscing sed ne, iudico graecis vivendum qui id. Mea ne mucius ornatus, mel appetere convenire in.</p>
			</div>
			<div class="col-xs-12 col-xm-6">
				<h1>Page 2b</h1>
				<p>eu vix vivendum indoctum urbanitas</p>
				<p class="hidden-xs">No quo noluisse platonem interpretaris, commodo sadipscing sed ne, iudico graecis vivendum qui id. Mea ne mucius ornatus, mel appetere convenire in.</p>
			</div>
			<div class="col-xs-12 col-xm-6">
				<h1>Page 2b</h1>
				<p>eu vix vivendum indoctum urbanitas</p>
				<p class="hidden-xs">No quo noluisse platonem interpretaris, commodo sadipscing sed ne, iudico graecis vivendum qui id. Mea ne mucius ornatus, mel appetere convenire in.</p>
			</div>
		</div>
		<div class="page" data-page-num="4">
			<div class="col-xs-12 col-sm-6">
				<h1>Page 4a</h1>
				<p>Duo altera singulis id</p>
			</div>
			<div class="col-xs-12 col-sm-6">
				<h1>Page 4b</h1>
				<p>sadipscing sed ne, iudico graecis</p>
			</div>
			<div class="col-xs-12">
				<h1>Page 4c</h1>
				<p>quodsi alienum petentium ad has</p>
			</div>
		</div>
		<div class="page" data-page-num="6">
			<div class="col-xs-12">
				<h1>Page 6</h1>
				<p>Testing Byline</p>
				<p class="hidden-xs">No quo noluisse platonem interpretaris, commodo sadipscing sed ne, iudico graecis vivendum qui id. Mea ne mucius ornatus, mel appetere convenire in.</p>
			</div>
		</div>
		<div class="page" data-page-num="8">
			<div class="col-xs-12">
				<h1>Page 8</h1>
				<p>Testing Byline</p>
				<p class="hidden-xs">No quo noluisse platonem interpretaris, commodo sadipscing sed ne, iudico graecis vivendum qui id. Mea ne mucius ornatus, mel appetere convenire in.</p>
			</div>
		</div>
	</section>

	<!--RIGHT PAGES-->
	<section class="rightPage col-xs-6">
		<div class="page active" data-page-num="1">
			<img class="hidden-xs" src="/images/covers/10_10_cover.jpg" />
		</div>
		<div class="page" data-page-num="3">
			<div class="col-xs-12">
				<h1>Page 3a</h1>
				<p>Testing Byline</p>
				<p class="hidden-xs">No quo noluisse platonem interpretaris, commodo sadipscing sed ne, iudico graecis vivendum qui id. Mea ne mucius ornatus, mel appetere convenire in.</p>
			</div>
			<div class="col-xs-12">
				<h1>Page 3b</h1>
				<p>eu vix vivendum indoctum urbanitas</p>
				<p class="hidden-xs">Cu sea gubergren accommodare. Cu quo officiis voluptatibus mediocritatem, eu vix vivendum indoctum urbanitas. Est ignota definitiones cu.</p>
			</div>
		</div>
		<div class="page" data-page-num="5">
			<div class="col-xs-12">
				<h1>Page 5a</h1>
				<p>eu vix vivendum indoctum urbanitas</p>
				<p class="hidden-xs">Lorem ipsum dolor sit amet, ne usu volumus alienum quaerendum, quodsi alienum petentium ad has. Eam no munere legimus, vim ubique aliquando urbanitas ei, eu meis nulla dicam quo. No quo noluisse platonem interpretaris, commodo sadipscing sed ne, iudico graecis vivendum qui id. Mea ne mucius ornatus, mel appetere convenire in.</p>
			</div>
			<div class="col-xs-12">
				<h1>Page 5b</h1>
				<p>eu vix vivendum indoctum urbanitas</p>
				<p class="hidden-xs">Duo altera singulis id, in quo homero oportere mediocrem. Id per detracto interpretaris, quis senserit cu quo, cu sea gubergren accommodare. Cu quo officiis voluptatibus mediocritatem, eu vix vivendum indoctum urbanitas. Est ignota definitiones cu, cu sed veri error corpora. No tantas dolore putent eam. Sed id novum veritus civibus, eum an legimus disputando.</p>
			</div>
		</div>
		<div class="page" data-page-num="7">
			<h1>Page 7</h1>
		</div>
		<div class="page last" data-page-num="9">
			<h1>Page 9</h1>
		</div>
	</section>
</template>