<template name="subscriptionInfo">
	{{> breadcrumbs}}
	<div class="container">
		<div id="mainContent" class="col-xs-12 col-sm-10">
			<article>
				<h1>Subscribe to the Journal of Drugs in Dermatology</h1>
				<p>The Journal of Drugs in Dermatology (JDD) continues to be a leading dermatology journal, presenting original articles, award-winning case studies, clinical trial reviews and clearance updates, drugs and devices, and special content geared toward medical residents and other allied health professionals. JDD is a top-tier, highly cited, peer-reviewed publication that has been indexed with MEDLINE®/PubMed® since Issue 1-1.</p>

				<p>JDD utilizes an unbiased, balanced peer-review process in order to maintain high standards of content. Articles are reviewed by the International Editorial Board of more than 160 renowned experts, from key opinion leaders to well-known clinicians.</p>

				<p>Learn more about the benefits you’ll receive as a JDD subscriber.</p>
			</article>

			<div id="subscriptionTable">
				<div class="infoRow col-sm-12">
					<div class="cell col-sm-4">
						<p>Features You’ll Receive</p>
					</div>
					<div class="cell col-sm-2">
						<p><strong>Open Access</strong><br/>Free</p>
					</div>
					<div class="cell col-sm-2">
						<p><strong>US Dermatology HCP</strong><br/>Free</p>
					</div>
					<div class="cell col-sm-2">
						<p><strong>Print + Digital</strong><br/>US $300/yr<br/>Non-US $350/yr</p>
					</div>
					<div class="cell col-sm-2">
						<p><strong>Digital</strong><br/>$15/month</p>
					</div>
				</div>
				<div class="infoRow col-sm-12">
					<div class="cell col-sm-4">
						<p>Year-long subscription to JDD print edition
							published monthly</p>
						</div>
						<div class="cell col-sm-2"><p></p></div>
						<div class="cell col-sm-2"><p><img src="/images/check.png" /></p></div>
						<div class="cell col-sm-2"><p><img src="/images/check.png" /></p></div>
						<div class="cell col-sm-2"><p></p></div>
					</div>
					<div class="infoRow col-sm-12">
						<div class="cell col-sm-4">
							<p>All-Access pass to JDD Online</p>
						</div>
						<div class="cell col-sm-2"><p></p></div>
						<div class="cell col-sm-2"><p><img src="/images/check.png" /></p></div>
						<div class="cell col-sm-2"><p><img src="/images/check.png" /></p></div>
						<div class="cell col-sm-2"><p></p></div>
					</div>
					<div class="infoRow col-sm-12">
						<div class="cell col-sm-4">
							<p>Full-Text of Original JDD Articles</p>
						</div>
						<div class="cell col-sm-2"><p></p></div>
						<div class="cell col-sm-2"><p><img src="/images/check.png" /></p></div>
						<div class="cell col-sm-2"><p><img src="/images/check.png" /></p></div>
						<div class="cell col-sm-2"><p><img src="/images/check.png" /></p></div>
					</div>
					<div class="infoRow col-sm-12">
						<div class="cell col-sm-4">
							<p>Review of JDD Archive Library 2002 - present</p>
						</div>
						<div class="cell col-sm-2"><p></p></div>
						<div class="cell col-sm-2"><p><img src="/images/check.png" /></p></div>
						<div class="cell col-sm-2"><p><img src="/images/check.png" /></p></div>
						<div class="cell col-sm-2"><p><img src="/images/check.png" /></p></div>
					</div>
					<div class="infoRow col-sm-12">
						<div class="cell col-sm-4">
							<p>Access to the Current Issue in PDF Format</p>
						</div>
						<div class="cell col-sm-2"><p></p></div>
						<div class="cell col-sm-2"><p><img src="/images/check.png" /></p></div>
						<div class="cell col-sm-2"><p><img src="/images/check.png" /></p></div>
						<div class="cell col-sm-2"><p><img src="/images/check.png" /></p></div>
					</div>
					<div class="infoRow col-sm-12">
						<div class="cell col-sm-4">
							<p>Email Alerts with the Current JDD Issue to
								your inbox</p>
							</div>
							<div class="cell col-sm-2"><p><img src="/images/check.png" /></p></div>
							<div class="cell col-sm-2"><p><img src="/images/check.png" /></p></div>
							<div class="cell col-sm-2"><p><img src="/images/check.png" /></p></div>
							<div class="cell col-sm-2"><p><img src="/images/check.png" /></p></div>
						</div>
						<div class="infoRow col-sm-12">
							<div class="cell col-sm-4">
								<p>Open Access Articles</p>
							</div>
							<div class="cell col-sm-2"><p><img src="/images/check.png" /></p></div>
							<div class="cell col-sm-2"><p><img src="/images/check.png" /></p></div>
							<div class="cell col-sm-2"><p><img src="/images/check.png" /></p></div>
							<div class="cell col-sm-2"><p><img src="/images/check.png" /></p></div>
						</div>
						<div class="infoRow col-sm-12">
							<div class="cell col-sm-4">
								<p>Supplements</p>
							</div>
							<div class="cell col-sm-2"><p><img src="/images/check.png" /></p></div>
							<div class="cell col-sm-2"><p><img src="/images/check.png" /></p></div>
							<div class="cell col-sm-2"><p><img src="/images/check.png" /></p></div>
							<div class="cell col-sm-2"><p><img src="/images/check.png" /></p></div>
						</div>
						<div class="infoRow col-sm-12">
							<div class="cell col-sm-4">
								<p>CME Activities</p>
							</div>
							<div class="cell col-sm-2"><p><img src="/images/check.png" /></p></div>
							<div class="cell col-sm-2"><p><img src="/images/check.png" /></p></div>
							<div class="cell col-sm-2"><p><img src="/images/check.png" /></p></div>
							<div class="cell col-sm-2"><p><img src="/images/check.png" /></p></div>
						</div>
						<div class="infoRow col-sm-12">
							<div class="cell col-sm-4">
								<p>DermPearls and DermMatters Blog</p>
							</div>
							<div class="cell col-sm-2"><p><img src="/images/check.png" /></p></div>
							<div class="cell col-sm-2"><p><img src="/images/check.png" /></p></div>
							<div class="cell col-sm-2"><p><img src="/images/check.png" /></p></div>
							<div class="cell col-sm-2"><p><img src="/images/check.png" /></p></div>
						</div>
						<div class="infoRow col-sm-12">
							<div class="cell col-sm-4">
								<p>Free login to JDD Partner site and Online
									Resource, Next Steps in Derm</p>
								</div>
								<div class="cell col-sm-2"><p><img src="/images/check.png" /></p></div>
								<div class="cell col-sm-2"><p><img src="/images/check.png" /></p></div>
								<div class="cell col-sm-2"><p><img src="/images/check.png" /></p></div>
								<div class="cell col-sm-2"><p><img src="/images/check.png" /></p></div>
							</div>
							<div class="clear"></div>
						</div><!--/table-->
						<a href="{{pathFor 'subscribe'}}" class="btn btn-primary" style="float: right;">SUBSCRIBE TO JDD NOW</a>
						<div class="clear hundred" style="height: 100px;"></div>
					</div><!--mainContent-->
				</div><!--container-->
			</template>