/*****************************VARIABLES********************************/
/*******************************MIXINS*********************************/
/*@mixin makeBorder($pos) { $pos: 1px rgba(0,0,0,.1) solid; }*/
/*******************************FONTS**********************************/
strong {
  font-family: UniversLTStd-BoldCn; }

@font-face {
  font-family: 'UniversLight';
  src: url("/fonts/Univers47CondensedLight.otf"); }

@font-face {
  font-family: 'Univers';
  src: url("/fonts/univers57condensed.eot");
  /* IE9 Compat Modes */
  src: url("/fonts/univers57condensed.eot?#iefix") format("embedded-opentype"), url("/fonts/univers57condensed.woff") format("woff"), url("/fonts/univers57condensed.ttf") format("truetype"), url("/fonts/univers57condensed.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: "UniversBold-BoldCn";
  src: url("/fonts/UniversLTStd-BoldCn.otf");
  font-weight: bold; }

@font-face {
  font-family: "Walt";
  src: url("/fonts/waltograph42.otf"); }

@font-face {
  font-family: "Bembo";
  src: url("/fonts/bembo.otf"); }

@font-face {
  font-family: "BemboSemibold";
  src: url("/fonts/bembo-semibold.otf"); }

/***************************MEDIA QUERIES*********************************/
@media screen and (max-width: 1250px) {
  #slider h1 {
    font-size: 4.8em !important; }
  #slider h2 {
    font-size: 1.1em !important; }
  #slider h3 {
    font-size: .9em !important; } }
@media screen and (max-width: 1050px) {
  #sidebar h3.activeTab, #sidebar h3.inactiveTab {
    font-size: 1em; } }
@media screen and (max-width: 992px) {
  /*tablets*/
  #slider h1 {
    font-size: 3.5em !important; }

  .topBanner img.topAd {
    float: right;
    margin-right: 20px; } }
@media screen and (max-width: 815px) {
  .topBanner {
    background-position: 20px 23px, 0 0 , 0 0 !important;
    background-size: 137px 75px, auto, auto !important; } }
@media screen and (max-width: 768px) {
  /*phones*/
  .topBanner {
    height: 80px !important;
    background-position: 20px 17px, 0 0 , 0 0 !important;
    background-size: 92px 50px, auto, auto !important; }
    .topBanner img.topAd {
      max-height: 50px;
      margin-top: -4px !important; }

  #primaryNav {
    height: auto !important; }

  #main {
    margin-top: 80px; }

  #slider {
    height: 300px !important;
    padding-top: 0 !important;
    text-align: center; }
    #slider h1 {
      font-size: 4.5em !important; }
    #slider h2 {
      font-size: 1.3em !important; }
    #slider h3 {
      font-size: .8em !important; }

  #featuredArticle h1 {
    font-size: 2.5em !important; }

  img.jddLogo {
    height: 100% !important; }

  #sidebar {
    max-width: 100% !important; } }
@media screen and (max-width: 640px) {
  .btn-primary {
    width: 260px !important; } }
@media screen and (max-width: 568px) {
  .topBanner {
    background-size: 0 0, auto, auto !important; }
    .topBanner img.topAd {
      float: none !important; }

  .navbar-header a.navbar-brand {
    margin-top: -7px;
    /*64px*/ }
    .navbar-header a.navbar-brand img {
      height: 37px !important;
      opacity: 1 !important; } }
@media screen and (max-width: 490px) {
  .topBanner img.topAd {
    width: 100%; } }
/*****************************GENERAL CSS********************************/
body {
  padding: 0;
  margin: 0;
  font-family: "UniversLight", "Univers", sans-serif !important;
  font-size: 1.5em; }

html, body {
  max-width: 100%;
  overflow-x: hidden; }

section, article, aside, hgroup {
  display: block; }

h1 {
  font-family: 'Bembo'; }

a {
  color: #00aab5; }
  a:hover {
    text-decoration: none; }

p {
  margin-bottom: 35px;
  line-height: 180%;
  letter-spacing: 1px;
  color: #3e3e3d !important; }

.clear {
  clear: both; }
  .clear.ten {
    height: 10px; }
  .clear.twenty {
    height: 20px; }
  .clear.forty {
    height: 40px; }
  .clear.fifty {
    height: 50px; }
  .clear.hundred {
    height: 100px; }

.centered {
  text-align: center; }

ul {
  list-style: none;
  padding-left: 0; }

ul.most {
  line-height: 100%; }
  ul.most li {
    margin-bottom: 23px; }

.green {
  color: #599a3e; }

select {
  height: 40px !important;
  width: 90%;
  margin-bottom: 20px;
  background: url(/images/select-arraow.png) no-repeat right #efefef;
  /*width: 268px;*/
  padding-left: 10px !important;
  padding-right: 10px !important;
  line-height: 1;
  border: 0;
  border-radius: 0;
  height: 34px;
  -webkit-appearance: none; }

input[type=text], textarea {
  height: 40px;
  width: 100%;
  max-width: 240px;
  padding-left: 10px !important;
  background: #efefef;
  letter-spacing: 1px;
  border: 0;
  margin-bottom: 20px; }

textarea {
  max-width: none;
  min-height: 300px;
  padding: 10px; }

/********************BOOTSTRAP OVERRIDES*****************************/
.container {
  /*max-width: 940px;*/
  padding-left: 10px;
  padding-right: 10px; }

.btn {
  border-radius: 0; }
  .btn:hover {
    background: #3e3e3d; }

.btn-primary {
  background: #820024;
  border: none;
  width: 300px;
  height: 60px;
  max-width: 512px;
  margin-bottom: 10px !important;
  font-size: 1.15em;
  padding-top: 20px; }

.navbar {
  background: #820024;
  font-size: 1.3em;
  border-bottom: none;
  margin-top: 100px;
  font-family: 'UniversLight', 'Univers';
  letter-spacing: 0;
  box-shadow: 0 -4px 4px rgba(0, 0, 0, 0.6); }
  .navbar a {
    color: white !important;
    text-shadow: none !important; }

.navbar-header a.navbar-brand {
  margin-top: -8px;
  /*64px*/ }
  .navbar-header a.navbar-brand img {
    height: 50px;
    opacity: 0; }

/******************************************************************/
.topBanner {
  padding-top: 20px;
  height: 120px;
  overflow: hidden;
  background: #292627;
  background-image: url("/images/jdd-logo.png"), url("/images/ZenBG-1.png"), url("/images/ZenBG-2.png");
  background-repeat: no-repeat, repeat-x, repeat;
  background-position: 20px 10px, 0 0 , 0 0;
  background-size: 182px 100px, auto, auto; }
  .topBanner img.jddLogo {
    height: 100px;
    margin-top: -8px; }
  .topBanner img.topAd {
    max-width: 557px;
    margin-top: 6px; }
  .topBanner .btn-primary {
    width: 220px !important;
    margin-top: 10px; }
  .topBanner .container {
    width: 100%; }
    .topBanner .container .col-xs-12 {
      padding: 0; }

#primaryNav {
  height: 80px;
  padding-right: 20px; }
  #primaryNav ul.navbar-right {
    padding-top: 10px;
    /*16px;*/ }
    #primaryNav ul.navbar-right li.navImg {
      margin-top: -8px; }

#secondaryNav {
  background: #231f20;
  padding: 4px 20px 9px;
  font-size: .8em;
  height: 30px; }
  #secondaryNav .navbar-brand {
    padding: 0; }
  #secondaryNav #displayArticles {
    cursor: pointer; }
    #secondaryNav #displayArticles:hover {
      color: #cca87f !important; }
  #secondaryNav #displayArticles:hover {
    color: blue; }
  #secondaryNav a#login {
    float: right;
    cursor: pointer; }
    #secondaryNav a#login:hover {
      color: #cca87f !important; }
  #secondaryNav a#smallFacebook, #secondaryNav a#smallTwitter {
    float: right; }
    #secondaryNav a#smallFacebook img, #secondaryNav a#smallTwitter img {
      height: 20px;
      margin-right: 5px;
      margin-top: -2px; }

/*******************************GENERAL CSS*********************************/
#main {
  margin-top: 110px;
  padding-left: 0;
  padding-right: 0; }
  #main figure.left {
    margin: 0 10px 10px 0;
    padding-left: 0; }
    #main figure.left img {
      width: 100%; }

.image-bkg {
  background: url(/images/topic1.bkg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 100px 300px; }

#slider {
  height: 400px;
  color: white;
  padding-top: 80px;
  margin-bottom: 20px;
  background: url(/images/desk.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  #slider:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: radial-gradient(circle, rgba(255, 255, 255, 0), black);
    /*linear-gradient(to bottom right,#002f4b,#dc4225)*/
    opacity: 1; }
  #slider #issueCover {
    width: 192px;
    height: 245px;
    -webkit-filter: brightness(100%); }
    #slider #issueCover:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 15px;
      width: 192px;
      height: 245px;
      background-image: radial-gradient(circle, rgba(255, 255, 255, 0), black);
      /*linear-gradient(to bottom right,#002f4b,#dc4225)*/
      opacity: .3; }
  #slider hgroup {
    margin-top: -20px; }
  #slider h1, #slider h2, #slider h3 {
    margin: 0 auto; }
  #slider h1 {
    font-size: 6.3em;
    letter-spacing: -4px;
    line-height: 80%; }
  #slider h2 {
    font-size: 1.4em;
    letter-spacing: .5px;
    color: #cca87f;
    font-family: 'Bembo'; }
  #slider h3 {
    font-size: .8em;
    margin-top: 10px;
    letter-spacing: 3px; }
  #slider h5 {
    margin-top: 40px;
    font-size: 1.1em;
    margin-bottom: 10px; }
    #slider h5 span {
      color: #cca87f; }

#articlesList {
  overflow-y: scroll;
  color: #909090;
  margin-top: 110px;
  overflow: scroll;
  border-right: 1px rgba(0, 0, 0, 0.1) solid;
  -moz-box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.1);
  background: #f9f9f9;
  background: #fafafa;
  background-image: url("/images/pattern-cqtm.png");
  background-repeat: repeat; }
  #articlesList h3 {
    font-size: 1.5em;
    letter-spacing: -1px;
    line-height: 90%;
    margin-bottom: 0;
    word-wrap: break-word; }
    #articlesList h3 a {
      color: #902a2a !important; }
  #articlesList p {
    font-size: .9em;
    line-height: 110%; }
    #articlesList p.author {
      margin: 0 auto 10px;
      font-style: italic;
      font-size: .7em; }
      #articlesList p.author span {
        display: none; }
  #articlesList .article {
    border-bottom: 1px solid #e1e1e1; }

#featuredArticle h1 {
  font-family: 'BemboSemibold';
  font-size: 4.3em;
  line-height: 90%;
  margin-bottom: 40px;
  letter-spacing: -4px; }
#featuredArticle h2 {
  font-family: 'Bembo';
  font-size: 2.5em;
  letter-spacing: -1px; }
#featuredArticle h3 {
  color: #820024;
  margin-bottom: 40px; }
#featuredArticle img.featuredBottomAd {
  width: 100%; }

#sidebar {
  max-width: 300px;
  letter-spacing: 1px;
  color: #3e3e3d; }
  #sidebar h3 {
    margin-bottom: 10px; }
    #sidebar h3.activeTab, #sidebar h3.inactiveTab {
      margin-bottom: 0 !important; }
  #sidebar .btn {
    width: 100%; }
  #sidebar img {
    width: 100%; }
  #sidebar img.tallAd {
    max-width: 160px !important; }
  #sidebar h2 {
    color: #cca87f; }

.btn-primary {
  width: 300px;
  height: 60px;
  font-size: 1.15em;
  margin-bottom: 40px;
  padding-top: 20px;
  letter-spacing: 1px; }

.mostReadCited h3 {
  border: 1px rgba(0, 0, 0, 0.1) solid;
  border-bottom: none;
  padding: 10px 5px 5px 5px;
  color: #00aab5;
  display: inline-block;
  margin-right: 0;
  margin-bottom: 0; }
  .mostReadCited h3.activeTab {
    background: whitesmoke;
    color: #3e3e3d; }
  .mostReadCited h3.inactiveTab {
    cursor: pointer; }
    .mostReadCited h3.inactiveTab:hover {
      background: whitesmoke;
      color: #820024; }
.mostReadCited ul.most {
  padding-top: 20px;
  border-top: 1px rgba(0, 0, 0, 0.1) solid; }
  .mostReadCited ul.most li.mostCited {
    display: none; }

#footer {
  background: #231f20;
  color: white !important;
  padding-top: 100px; }
  #footer p {
    color: white !important; }
  #footer #copyright {
    margin: 70px auto 30px; }
  #footer h3 span {
    color: #cca87f; }

/**************************SECONDARY PAGES********************************/
#breadcrumbsSection {
  height: 49px;
  border-bottom: 1px solid #e1e1e1;
  padding-top: 15px;
  font-size: .9em;
  letter-spacing: 2px;
  margin-bottom: 20px; }
  #breadcrumbsSection #breadcrumbs span {
    margin: auto 5px; }
  #breadcrumbsSection #topic {
    float: right; }
  #breadcrumbsSection .crumb {
    text-transform: capitalize; }

#mainContent h1 {
  color: #820024;
  letter-spacing: -2px; }
#mainContent hgroup {
  margin-bottom: 20px; }
  #mainContent hgroup h1 {
    margin-bottom: 0; }
  #mainContent hgroup h5 {
    margin-top: 0;
    letter-spacing: 3px; }

ul#pagination {
  text-align: center;
  margin-bottom: 30px; }
  ul#pagination li {
    font-size: 1.4em;
    display: inline-block;
    margin: auto 15px; }
    ul#pagination li:first-child {
      margin-left: 0; }
    ul#pagination li:last-child {
      margin-right: 0; }
    ul#pagination li a.activePage {
      color: #820024;
      cursor: default; }

#articleTeasers {
  padding: 0; }
  #articleTeasers .articleTeaser h4 a {
    color: #820024; }
  #articleTeasers .articleTeaser h4 a:hover {
    color: #00aab5; }
  #articleTeasers .articleTeaser p {
    line-height: 130%;
    font-size: .9em; }

/****************************ARTICLE PAGE******************************/
#articlePage {
  /*background: url(/images/topic1.bkg.jpg);*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 200px 300px; }
  #articlePage h1 {
    word-wrap: break-word; }
  #articlePage p.basic-jdd-basic-l {
    margin-bottom: 10px; }
    #articlePage p.basic-jdd-basic-l span.article-general-article-boxheads {
      font-size: 2.3em;
      font-family: "Bembo";
      letter-spacing: -2px;
      text-transform: capitalize;
      color: #820024; }
  #articlePage h2 {
    color: #820024;
    font-size: 2.3em;
    font-family: "Bembo";
    letter-spacing: -2px; }
  #articlePage h3 {
    color: #820024; }
  #articlePage #article-correspondence p {
    margin-bottom: 0px; }
  #articlePage #callsToAction {
    padding: 0;
    margin-bottom: 40px;
    text-align: center; }
    #articlePage #callsToAction a {
      margin: auto 10px;
      white-space: nowrap; }
    #articlePage #callsToAction .btn-primary {
      padding: 5px 10px;
      width: 100%;
      height: 30px;
      font-family: "UniversLight"; }
    #articlePage #callsToAction #info {
      display: none;
      border-bottom: 1px solid #e1e1e1;
      border-top: 1px solid #e1e1e1;
      margin: 20px auto;
      padding-bottom: 5px; }
      #articlePage #callsToAction #info h4 {
        color: #820024; }
      #articlePage #callsToAction #info p {
        margin-bottom: 10px;
        display: none; }

/*******************************SEARCH*********************************/
.searchArchives h4 {
  margin: 10px auto; }
.searchArchives * {
  padding-left: 0 !important; }
.searchArchives input[type=text] {
  height: 40px;
  width: 100%;
  max-width: 240px;
  padding-left: 10px !important;
  background: #efefef;
  letter-spacing: 1px;
  border: 0; }
.searchArchives .options {
  clear: both;
  margin-bottom: 20px; }
  .searchArchives .options span {
    margin-left: 4px;
    font-size: .8em; }
.searchArchives .btn {
  width: 160px;
  margin-top: 11px; }

input#searchField {
  height: 40px;
  margin-top: -2px;
  background: #efefef;
  width: 260px;
  padding-left: 10px;
  padding-top: 5px; }

.searchBtn {
  height: 40px;
  width: 160px;
  padding-top: 10px;
  margin-left: -4px;
  margin-top: 7px; }

#activeSearch {
  color: #3e3e3d; }

/*****************************ARCHIVES*********************************/
.issue {
  text-align: center; }
  .issue hgroup {
    height: 100px; }
    .issue hgroup h5.volumeIssue, .issue hgroup h4.issueTitle {
      letter-spacing: 0 !important; }
  .issue img {
    width: 100%;
    max-width: 180px;
    /*140px*/
    margin-bottom: 10px; }
  .issue img:hover {
    box-shadow: 0 0 10px #555; }

/**************************SUBSCRIPTION********************************/
#subscribeForm * {
  padding-left: 0; }

#subscriptionTable {
  font-size: .9em;
  margin-bottom: 20px; }
  #subscriptionTable .infoRow {
    padding: 0; }
    #subscriptionTable .infoRow:nth-child(odd) {
      background: whitesmoke; }
    #subscriptionTable .infoRow .cell {
      min-height: 77px;
      padding: 20px;
      text-align: center;
      border-left: 1px solid #e1e1e1;
      border-bottom: 1px solid #e1e1e1; }
      #subscriptionTable .infoRow .cell:last-child {
        border-right: 1px solid #e1e1e1; }
      #subscriptionTable .infoRow .cell:first-child {
        text-align: left; }
    #subscriptionTable .infoRow:first-child {
      background: #820024; }
      #subscriptionTable .infoRow:first-child p {
        color: white !important; }
      #subscriptionTable .infoRow:first-child .cell {
        border: none;
        text-align: left; }
    #subscriptionTable .infoRow p {
      line-height: 110%;
      margin-bottom: 0; }

#subscriptionSidebar h4 {
  color: #820024;
  font-size: 1em; }
#subscriptionSidebar p {
  line-height: 115%;
  font-size: .9em; }

.lists h3 {
  color: #820024; }
.lists ul {
  margin-left: 10px; }

/*****************************CONTACT*********************************/
#contactForm {
  padding-left: 0; }
  #contactForm * {
    padding-left: 0; }
