/*****************************VARIABLES********************************/
/*******************************MIXINS*********************************/
/*@mixin makeBorder($pos) { $pos: 1px rgba(0,0,0,.1) solid; }*/
/*******************************FONTS**********************************/
@font-face {
  font-family: 'Univers';
  src: url("/fonts/univers57condensed.eot");
  /* IE9 Compat Modes */
  src: url("/fonts/univers57condensed.eot?#iefix") format("embedded-opentype"), url("/fonts/univers57condensed.woff") format("woff"), url("/fonts/univers57condensed.ttf") format("truetype"), url("/fonts/univers57condensed.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'UniversLight';
  src: url("/fonts/Univers47CondensedLight.otf"); }

@font-face {
  font-family: "UniversCondensedLight";
  src: url("/fonts/UniversLTStd-ThinUltraCn.otf"); }

@font-face {
  font-family: "Walt";
  src: url("/fonts/waltograph42.otf"); }

@font-face {
  font-family: "Bembo";
  src: url("/fonts/bembo.otf"); }

@font-face {
  font-family: "BemboSemibold";
  src: url("/fonts/bembo-semibold.otf"); }

/******************************************************************/
@media screen and (max-width: 1250px) {
  #slider h1 {
    font-size: 4.8em !important; }
  #slider h2 {
    font-size: 1.1em !important; }
  #slider h3 {
    font-size: .9em !important; } }
@media screen and (max-width: 992px) {
  /*tablets*/
  #slider h1 {
    font-size: 3.5em !important; } }
@media screen and (max-width: 768px) {
  /*phones*/
  .topBanner {
    height: 80px !important; }
    .topBanner img.topAd {
      width: 100%; }

  #primaryNav {
    height: auto !important; }

  #main {
    margin-top: 80px !important; }

  #slider {
    height: 300px !important;
    padding-top: 0 !important;
    text-align: center; }
    #slider h1 {
      font-size: 4.5em !important; }
    #slider h2 {
      font-size: 1.3em !important; }
    #slider h3 {
      font-size: .8em !important; }

  #featuredArticle h1 {
    font-size: 2.5em !important; }

  img#jddLogo {
    height: 100% !important; }

  #sidebar img {
    width: 100%; } }
@media screen and (max-width: 640px) {
  .btn-primary {
    width: 260px !important; } }
/******************************************************************/
body {
  font-family: "UniversLight", "Univers", sans-serif !important;
  font-size: 1.3em; }

section, article, aside, hgroup {
  display: block; }

h1 {
  font-family: 'Bembo'; }

a {
  color: #00aab5; }
  a:hover {
    text-decoration: none; }

p {
  margin-bottom: 35px;
  line-height: 180%;
  letter-spacing: 1px;
  color: #3e3e3d !important; }

.clear {
  clear: both; }
  .clear.twenty {
    margin-top: 20px; }
  .clear.forty {
    margin-top: 40px; }

.centered {
  text-align: center; }

ul {
  list-style: none;
  padding-left: 0; }

ul.most {
  line-height: 100%; }
  ul.most li {
    margin-bottom: 23px; }

/******************************************************************/
.container {
  /*max-width: 940px;*/
  padding-left: 10px;
  padding-right: 10px; }

.btn {
  border-radius: 0; }
  .btn:hover {
    background: #3e3e3d; }

.btn-primary {
  background: #820024;
  border: none;
  width: 300px;
  height: 60px;
  max-width: 512px;
  margin-bottom: 10px !important;
  font-size: 1.15em;
  padding-top: 20px; }

.navbar-default {
  background: #820024;
  font-size: 1.3em;
  border-bottom: none;
  margin-top: 100px;
  font-family: 'UniversLight', 'Univers';
  letter-spacing: 0; }
  .navbar-default a {
    color: white !important;
    text-shadow: none !important; }

.navbar-header a.navbar-brand {
  margin-top: -5px; }
  .navbar-header a.navbar-brand img {
    height: 64px !important; }

/******************************************************************/
.topBanner {
  padding-top: 20px;
  height: 100px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #423e3f), color-stop(1, #292627));
  background-image: -o-linear-gradient(bottom, #423e3f 0%, #292627 100%);
  background-image: -moz-linear-gradient(bottom, #423e3f 0%, #292627 100%);
  background-image: -webkit-linear-gradient(bottom, #423e3f 0%, #292627 100%);
  background-image: -ms-linear-gradient(bottom, #423e3f 0%, #292627 100%);
  background-image: linear-gradient(to bottom, #423e3f 0%, #292627 100%); }
  .topBanner img.topAd {
    max-width: 557px; }

#primaryNav {
  height: 80px !important;
  padding-right: 20px; }
  #primaryNav ul.navbar-right {
    padding-top: 16px; }
    #primaryNav ul.navbar-right li.navImg {
      margin-top: -8px; }

#secondaryNav {
  background: #231f20;
  padding: 4px 20px 9px;
  font-size: .8em;
  height: 30px; }
  #secondaryNav .navbar-brand {
    padding: 0; }
  #secondaryNav #displayArticles {
    cursor: pointer; }
    #secondaryNav #displayArticles:hover {
      color: #cca87f !important; }
  #secondaryNav #displayArticles:hover {
    color: blue; }
  #secondaryNav a#login {
    float: right;
    cursor: pointer; }
    #secondaryNav a#login:hover {
      color: #cca87f !important; }
  #secondaryNav a#smallFacebook, #secondaryNav a#smallTwitter {
    float: right; }
    #secondaryNav a#smallFacebook img, #secondaryNav a#smallTwitter img {
      height: 20px;
      margin-right: 5px;
      margin-top: -2px; }

/******************************************************************/
#main {
  margin-top: 110px;
  padding-left: 0;
  padding-right: 0; }

#slider {
  height: 400px;
  color: white;
  padding-top: 80px;
  margin-bottom: 20px;
  background: url(/images/desk.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  #slider:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: radial-gradient(circle, rgba(255, 255, 255, 0), black);
    /*linear-gradient(to bottom right,#002f4b,#dc4225)*/
    opacity: 1; }
  #slider #issueCover {
    width: 192px;
    height: 245px;
    -webkit-filter: brightness(100%); }
    #slider #issueCover:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 15px;
      width: 192px;
      height: 245px;
      background-image: radial-gradient(circle, rgba(255, 255, 255, 0), black);
      /*linear-gradient(to bottom right,#002f4b,#dc4225)*/
      opacity: .3; }
  #slider hgroup {
    margin-top: -20px; }
  #slider h1, #slider h2, #slider h3 {
    margin: 0 auto; }
  #slider h1 {
    font-size: 6.3em;
    letter-spacing: -4px;
    line-height: 80%; }
  #slider h2 {
    font-size: 1.4em;
    letter-spacing: .5px;
    color: #cca87f;
    font-family: 'Bembo'; }
  #slider h3 {
    font-size: .8em;
    margin-top: 10px;
    letter-spacing: 3px; }
  #slider h5 {
    margin-top: 40px;
    font-size: 1.1em;
    margin-bottom: 10px; }
    #slider h5 span {
      color: #cca87f; }

#articlesList {
  overflow-y: scroll;
  color: #909090;
  margin-top: 110px;
  overflow: scroll;
  border-right: 1px #f2f2f2 solid; }
  #articlesList h3 {
    font-size: 1.5em;
    letter-spacing: -1px;
    line-height: 90%;
    margin-bottom: 0; }
    #articlesList h3 a {
      color: #902a2a !important; }
  #articlesList p {
    font-size: .9em;
    line-height: 110%; }
    #articlesList p.author {
      margin: 0 auto 10px;
      font-style: italic;
      font-size: .7em; }
      #articlesList p.author span {
        display: none; }
  #articlesList .article {
    border-bottom: 1px solid #e1e1e1; }

#featuredArticle h1 {
  font-family: 'BemboSemibold';
  font-size: 4.3em;
  line-height: 90%;
  margin-bottom: 40px;
  letter-spacing: -4px; }
#featuredArticle h2 {
  font-family: 'Bembo';
  font-size: 2.5em;
  letter-spacing: -1px; }
#featuredArticle h3 {
  color: #820024;
  margin-bottom: 40px; }
#featuredArticle ul#pagination {
  text-align: center;
  margin-bottom: 30px; }
  #featuredArticle ul#pagination li {
    font-size: 1.4em;
    display: inline-block;
    margin: auto 15px; }
    #featuredArticle ul#pagination li:first-child {
      margin-left: 0; }
    #featuredArticle ul#pagination li:last-child {
      margin-right: 0; }
    #featuredArticle ul#pagination li a.activePage {
      color: #820024;
      cursor: default; }
#featuredArticle img.featuredBottomAd {
  width: 100%; }

#sidebar {
  max-width: 300px;
  letter-spacing: 1px;
  color: #3e3e3d; }
  #sidebar h3 {
    margin-bottom: 10px; }
    #sidebar h3 span {
      /*color: $gold;*/ }
  #sidebar h2 {
    color: #cca87f; }
  #sidebar .btn-primary {
    width: 300px;
    height: 60px;
    font-size: 1.15em;
    margin-bottom: 40px;
    padding-top: 20px;
    letter-spacing: 1px; }
  #sidebar .mostReadCited h3 {
    border: 1px rgba(0, 0, 0, 0.1) solid;
    border-bottom: none;
    padding: 10px 5px 5px 5px;
    color: #00aab5;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 0; }
    #sidebar .mostReadCited h3.activeTab {
      background: whitesmoke;
      color: #3e3e3d; }
    #sidebar .mostReadCited h3.inactiveTab {
      cursor: pointer; }
      #sidebar .mostReadCited h3.inactiveTab:hover {
        background: whitesmoke;
        color: #820024; }
  #sidebar .mostReadCited ul.most {
    padding-top: 20px;
    border-top: 1px rgba(0, 0, 0, 0.1) solid; }
    #sidebar .mostReadCited ul.most li.mostCited {
      display: none; }

#footer {
  background: #231f20;
  color: white !important;
  padding-top: 100px; }
  #footer p {
    color: white !important; }
  #footer #copyright {
    margin: 70px auto 30px; }
  #footer h3 span {
    color: #cca87f; }
