/*****************************VARIABLES********************************/
$red: #820024;
$lightRed: #902a2a;
$textColor: #3e3e3d;
$link: #00aab5;
$lightGrey: #909090; 
$darkGrey: #231f20;
$btnRollover: #3E3E3D;
$gold: #cca87f;
$borderColor: #e1e1e1;
$shadow: #f2f2f2;

$border: 1px rgba(0,0,0,.1) solid;
/*******************************MIXINS*********************************/
/*@mixin makeBorder($pos) { $pos: 1px rgba(0,0,0,.1) solid; }*/
/*******************************FONTS**********************************/
@font-face {
	font-family: 'Univers';
	src: url('/fonts/univers57condensed.eot'); /* IE9 Compat Modes */
	src: url('/fonts/univers57condensed.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('/fonts/univers57condensed.woff') format('woff'), /* Modern Browsers */
	url('/fonts/univers57condensed.ttf')  format('truetype'), /* Safari, Android, iOS */
	url('/fonts/univers57condensed.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
	font-family: 'UniversLight';
	src: url("/fonts/Univers47CondensedLight.otf");
}
@font-face {
	font-family:"UniversCondensedLight";
	src: url("/fonts/UniversLTStd-ThinUltraCn.otf")
}

@font-face {
	font-family:"Walt";
	src: url("/fonts/waltograph42.otf")
}

@font-face {
	font-family:"Bembo";
	src: url("/fonts/bembo.otf")
}
@font-face {
	font-family:"BemboSemibold";
	src: url("/fonts/bembo-semibold.otf")
}
$font-stack: 'UniversLight', 'Univers', sans-serif;
/******************************************************************/
@media screen and (max-width: 1250px) {
	#slider {
		h1 { font-size: 4.8em !important; }
		h2 { font-size: 1.1em !important; }
		h3 { font-size: .9em !important; }
	}
}

@media screen and (max-width: 992px) { /*tablets*/
	#slider {
		h1 {
			font-size: 3.5em !important;
		}
	}
}
@media screen and (max-width: 768px) { /*phones*/
	.topBanner {
		height: 80px !important;
		img.topAd { width: 100%; }
	}
	#primaryNav {
		height: auto !important;
	}
	#main { margin-top: 80px !important; }
	#slider {
		height: 300px !important; padding-top: 0 !important; text-align: center;
		h1 { font-size: 4.5em !important; }
		h2 { font-size: 1.3em !important; }
		h3 { font-size: .8em !important; }
	}
	#featuredArticle { 
		h1 { font-size: 2.5em !important; }
	}
	img#jddLogo { height: 100% !important; }
	#sidebar {
		img { width: 100%; }
	}
}
@media screen and (max-width: 640px) { 
	.btn-primary { width: 260px !important; }
}
/******************************************************************/
body { 
	font-family: $font-stack !important; font-size: 1.3em;
}
section, article, aside, hgroup { display: block; }
h1 { font-family: 'Bembo'; }
a { 
	color: $link; 
	&:hover {
		text-decoration: none;
	}
}
p {
	margin-bottom: 35px; line-height: 180%; letter-spacing: 1px;
	color: $textColor !important;
}
.clear { 
	clear: both; 
	&.twenty { margin-top: 20px; }
	&.forty { margin-top: 40px; }
	&.hundred { margin-top: 100px; }
}
.centered { text-align: center; }
ul { list-style: none; padding-left: 0; }
ul.most {
	line-height: 100%;
	li {
		margin-bottom: 23px;
	}
}
/******************************************************************/
.container {
	/*max-width: 940px;*/
	padding-left: 10px; padding-right: 10px;
}
.btn { 
	border-radius: 0;
	&:hover {
		background: $btnRollover;
	}
}
.btn-primary { background: $red; border: none; width: 300px; height: 60px; max-width: 512px; margin-bottom: 10px !important; font-size: 1.15em; padding-top: 20px; }
.navbar-default {
	background: $red; font-size: 1.3em; border-bottom: none; margin-top: 100px;
	font-family: 'UniversLight', 'Univers'; letter-spacing: 0;
	a { color: white !important; text-shadow: none !important; }
}
.navbar-header {
	a.navbar-brand {
		margin-top: -5px;
		img { height: 64px !important; }
	}
}
/******************************************************************/
.topBanner {
	padding-top: 20px; height: 100px;
	background-image: -webkit-gradient(
		linear, left top, left bottom, color-stop(0, #423E3F), color-stop(1, #292627)
	);
	background-image: -o-linear-gradient(bottom, #423E3F 0%, #292627 100%);
	background-image: -moz-linear-gradient(bottom, #423E3F 0%, #292627 100%);
	background-image: -webkit-linear-gradient(bottom, #423E3F 0%, #292627 100%);
	background-image: -ms-linear-gradient(bottom, #423E3F 0%, #292627 100%);
	background-image: linear-gradient(to bottom, #423E3F 0%, #292627 100%);
	img.topAd { max-width: 557px; }
}
#primaryNav {
	height: 80px !important; padding-right: 20px;
	ul.navbar-right {
		padding-top: 16px;
		li.navImg { margin-top: -8px; }
	}
}
#secondaryNav {
	background: $darkGrey; padding: 4px 20px 9px; font-size: .8em; 
	height: 30px;
	.navbar-brand {
		padding: 0;
	}
	#displayArticles { 
		cursor: pointer;
		&:hover {
			color: $gold !important;
		}
	}
	#displayArticles:hover {
		color: blue;
	}
	a#login {
		float: right; cursor: pointer;
		&:hover {
			color: $gold !important;
		}
	}
	a#smallFacebook, a#smallTwitter {
		float: right;
		img { height: 20px; margin-right: 5px; margin-top: -2px; }
	}
}
/******************************************************************/
#main {
	margin-top: 110px; padding-left: 0; padding-right: 0;
}
#slider {
	height: 400px; color: white; padding-top: 80px; margin-bottom: 20px;
	background: url(/images/desk.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	&:before {
	    content: '';
		position: absolute; top: 0; right: 0; bottom: 0; left: 0;
		background-image: radial-gradient(circle, rgba(255,255,255,0),rgba(0,0,0,1));/*linear-gradient(to bottom right,#002f4b,#dc4225)*/
		opacity: 1; 
	}

	#issueCover {
		width: 192px; height: 245px;  -webkit-filter:brightness(100%);
		&:before {
		    content: '';
			position: absolute; top: 0; right: 0; bottom: 0; left: 15px;width: 192px; height: 245px;
			background-image: radial-gradient(circle, rgba(255,255,255,0),rgba(0,0,0,1));/*linear-gradient(to bottom right,#002f4b,#dc4225)*/
			opacity: .3; 
		 }
	}

	hgroup { margin-top: -20px; }
	h1, h2, h3 { margin: 0 auto; }
	h1 { font-size: 6.3em; letter-spacing: -4px; line-height: 80%; }
	h2 { font-size: 1.4em; letter-spacing: .5px; color: $gold; font-family: 'Bembo'; }
	h3 { font-size: .8em; margin-top: 10px; letter-spacing: 3px; }
	h5 { 
		margin-top: 40px; font-size: 1.1em; margin-bottom: 10px;
		span { color: $gold; }
	}
}
#articlesList { overflow-y: scroll;
	color: $lightGrey; margin-top: 110px; overflow: scroll; border-right: 1px $shadow solid;
	h3 {
		font-size: 1.5em; letter-spacing: -1px; line-height: 90%; margin-bottom: 0; word-wrap: break-word;
		a { color: $lightRed !important; }
	}
	p {
		font-size: .9em;
		line-height: 110%;
		&.author {
			margin: 0 auto 10px; font-style: italic; font-size: .7em;
			span { display: none; }
		}
	}
	.article {
		border-bottom: 1px solid $borderColor;
	}
}
#featuredArticle {
	h1 { font-family: 'BemboSemibold'; font-size: 4.3em; line-height: 90%; margin-bottom: 40px; letter-spacing: -4px; }
	h2 { font-family: 'Bembo'; font-size: 2.5em; letter-spacing: -1px; }
	h3 { color: $red; margin-bottom: 40px; }
	ul#pagination { 
		text-align: center; margin-bottom: 30px; 
		li { 
			font-size: 1.4em; display: inline-block; margin: auto 15px ;
			&:first-child { margin-left: 0; }
			&:last-child { margin-right: 0; }
			a {
				&.activePage { color: $red; cursor: default; }
			}
		}
	}
	img.featuredBottomAd {
		width: 100%;
	}
}
#sidebar {
	max-width: 300px; letter-spacing: 1px; color: $textColor ;
	h3 { 
		margin-bottom: 10px; 
		span { /*color: $gold;*/ }
	}
	h2 { color: $gold; }

	.btn-primary { 
		width: 300px; height: 60px; font-size: 1.15em; margin-bottom: 40px; padding-top: 20px; letter-spacing: 1px;
	}
	.mostReadCited{
		h3 { 
			border: $border; border-bottom: none; padding: 10px 5px 5px 5px; color: $link;
			display: inline-block; margin-right: 10px; margin-bottom: 0;
			&.activeTab { 
				background: whitesmoke; color: $textColor;
			}
			&.inactiveTab {
				cursor: pointer;
				&:hover { background: whitesmoke; color: $red; }
			}
		}
		ul.most {
			padding-top: 20px; border-top: $border;
			li.mostCited { display: none; }
		}
	}
}
#footer {
	background: $darkGrey; color: white !important;
	padding-top: 100px;	
	p { color: white !important; }
	#copyright {
		margin: 70px auto 30px;
	}
	h3 {
		span { color: $gold; }
	}
}
/**************************SECONDARY PAGES********************************/
#breadcrumbsSection {
	height: 49px; border-bottom: 1px solid $borderColor; padding-top: 15px; font-size: .9em; letter-spacing: 2px; margin-bottom: 20px;
	#breadcrumbs {
		span { margin: auto 5px; }
	}
	#back {
		float: right;
	}
}
#mainContent {
	h1 { color: $red; letter-spacing: -2px; }
}
/**************************SUBSCRIPTION********************************/
#subscriptionTable {
	font-size: .9em; margin-bottom: 20px;
	.infoRow {
		padding: 0;
		&:nth-child(odd) {
			background: whitesmoke;
		}
		.cell {
			min-height: 77px; padding: 20px; text-align: center;	
			border-left: 1px solid $borderColor;
			border-bottom: 1px solid $borderColor;
			&:last-child { border-right: 1px solid $borderColor; }
			&:first-child { text-align: left; }
		}
		&:first-child {
			background: $red;
			p { color: white !important; }
			.cell { border: none; text-align: left; }
		}
		p { line-height: 110%; margin-bottom: 0;}
	}
}
