<template name="contact">
	{{> breadcrumbs}}
	<div id="articlePage" class="container">
		<article id="mainContent" class="col-xs-12 col-sm-10">
			<header><h1>Contact</h1></header>
			<form id="contactForm" class="col-xs-12 col-sm-8">
				<div class="col-xs-12 col-sm-6">
					<input type="text" name="name" placeholder="Your Name">
				</div>
				<div class="col-xs-12 col-sm-6">
					<input type="text" name="email" placeholder="Your Email">
				</div>
				<div class="col-xs-12">
					<textarea id="contactTxt" placeholder="Enter text here"></textarea>
					<a href="/" class="btn btn-primary">SEND</a>
				</div>
			</form>
			<div class="clear hundred"></div>
		</article>
	</div><!--container-->
</template>